[submodule "Spam_Email_Detection_Using_Multiple_ML_models"]
	path = Spam_Email_Detection_Using_Multiple_ML_models
	url = https://github.com/LOKESHGOPAL21/Spam_Email_Detection_Using_Multiple_ML_models.git
[submodule "MovieRecommendationSystem"]
	path = MovieRecommendationSystem
	url = https://github.com/LOKESHGOPAL21/MovieRecommendationSystem.git
