[submodule "Spam_Email_Detection_Using_Multiple_ML_models"]
	path = Spam_Email_Detection_Using_Multiple_ML_models
	url = https://github.com/LOKESHGOPAL21/Spam_Email_Detection_Using_Multiple_ML_models.git
[submodule "MovieRecommendationSystem"]
	path = MovieRecommendationSystem
	url = https://github.com/LOKESHGOPAL21/MovieRecommendationSystem.git
[submodule "Stock_Market_Prices_Prediction"]
	path = Stock_Market_Prices_Prediction
	url = https://github.com/LOKESHGOPAL21/Stock_Market_Prices_Prediction.git
